@tailwind base;
@tailwind components;
@tailwind utilities;


/* font-family: 'Inter', sans-serif;
font-family: 'Merriweather', serif;
font-family: 'Roboto', sans-serif; */

:root {
    background-color: #14121E;
}


/* Global css */
.bg-global {
    background-color: #14121E;
}

.global-titleFont {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
}
.global-titleFontBold {
    font-family: 'Inter', sans-serif;
    font-weight: bold;
}

.global-subTitleFont {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}
.global-subText {
    font-family: 'Merriweather', serif;
    font-weight: bold;
}

.gb-font {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}


/* hearder */
.nav-bg {
    background-color: black;
}

.navBtn-bg {
    background: linear-gradient(92.88deg, rgb(69, 94, 181) 9.16%, rgb(86, 67, 204) 43.89%, rgb(103, 63, 215) 64.72%);
    padding: 10px 22px;
    border-radius: 2rem;
}

.navText:hover {
    color: #C3C3C3;
}

/* hero section */
.title-color {
    background: linear-gradient(124deg, #FFFFFF, #d3d3d3, #7e7e7e, #ffffff, #c0c0c0);
    background-clip: text;
    color: transparent;
}

.heroTxt-color {
    color: #FFFFFF;
    opacity: 77%;
}

.flip {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.heroBtn-bg {
    background: linear-gradient(92.88deg, rgb(69, 94, 181) 9.16%, rgb(86, 67, 204) 43.89%, rgb(103, 63, 215) 64.72%);
    padding: 9px 29px;
    border-radius: 2rem;
}

/* home page feature section */


/* Home page Teachersection */
.teacherBg-custom {
    background-image: url('../public/teacherdivbg.png');
    background-size: cover;
  }

